/* Newlog Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: linear-gradient( rgba(150,	187,187, 0.7), rgba(236,179,218, 0.7)), url('../../images/food3.jpg');
  background-size: cover;
}
.background-holder {
  width: 800px;
  height: 390px;
  margin: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self:center;
  border-radius: 25px;
}
.input-food {
  margin: 30px;

}
.date {
  padding: 5px;
  clear: both;
  display: block;
  width: 100px;

}
.input-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.box-input {
  width: 20%;
  margin-top: 10px;
}
.date-input {
  margin-top: 30px;
}
.food {
  padding: 5px;
  width: 500px;


}
.calories {
  padding: 5px;
  width: 40px;

}
.fat {
  padding: 5px;
  width: 40px;


}
.carbs {
  padding: 5px;
  width: 40px;
}
.sugars{
  width: 40px;
  padding:5px;
}
.allergens {
  margin-top: 20px;
}
.check-milk {
  margin: 15px;
  padding: 5px;
}
.egg {
margin: 15px;
padding: 5px;
}
.nuts {
margin: 15px;
padding: 5px;
}
.wheat {
margin: 15px;
padding: 5px;
}
.soy {
  margin: 15px;
  padding: 5px;
}
.shellfish {
  margin: 15px;
  padding: 5px;
}
.fish {
  margin: 15px;
  padding: 5px;
}
.add-new {
  background-color: #8F7F96;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 60px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}
.add-new:hover {
  background-color: #654F6F;
}
.add-new:active {
  background-color: #382C3D;
}
.cancel-new {
  background-color: #FF3A47;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 60px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
}
.cancel-new:hover {
  background-color: #BA2A34;
}
.cancel-new:active {
  background-color: #7F1D23;
}
